* {
  margin: 0px;
  padding: 0px
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  
}

/* HEADER----------------------------- */

.header {
  height: 8vh;
  width: 100vw;
  background-color: #D4E5F5;
  display: flex;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: fixed;
  z-index: 1000;
  

}

.logo {
  margin-top: 10px;
  height: 90px;
  width: 90px;
}

.span {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.navBar {
  display: flex;
  margin-left: 700px;
}

.navLinks {
  margin-left: 100px;
  text-decoration: none;
  color: black;
  
}

.profile {
  margin-top: 5px;
  margin-left: 100px;
  height: 30px;
  width: 30px;
}

/* POSTER-------------------------------------------? */
.poster {
  width: 100vw;
  height: 350px;
  margin-top: 30px;

  img {
    width: 1536px;
  }

}

/* ALL Products */

.allProducts {
  width: 100%;
  height: auto;
margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

